/* 
Testar att lägga till en loading screen ifall det tar för lång tid att ladda sidan. 
*/
/*
.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  transition: opacity 0.75s, visibility 0.75s;
}

.dark-mode loader {
  background-color: #333333;
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  width: 100px;
  height: 100px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  animation: loading 0.75 ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
} 
*/


body {
  font-family: 'Open sans', Arial, sans-serif;
  background-color: #FFFFFF;
  box-sizing: border-box;
  min-height: 100vh;
  color: #333333;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  max-width: 1920px;
  overflow-y: scroll;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1), 2px 0px 4px rgba(0, 0, 0, 0.1);
}

body.loaded {
  visibility: visible;
}

hr {
  display: none;
}

.dark-mode {
  color: #FFFFFF;
  background-color: #333333;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  font-size: 28px;
}

a {
  text-decoration: none;
  color: #333333;
  padding: 5px 10px;
  border-radius: 5px;
}

a:hover {
  background-color: #F2F2F2;
}

.dark-mode nav {
  background-color: #333333;
}

.dark-mode a {
  color: #F2F2F2;
}

.dark-mode a:hover {
  background-color: #FFFFFF;
  color: #333333;
}

header {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);

}

header img {
  width: 500px;
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

header img:hover {
  transform: scale(1.05);
}

.dark-mode header {
  background-color: #333333;
  color: #F2F2F2;
}

.textcenter{
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

div p {
  max-width: 100%;
  font-size: 24px;
  line-height: 1.5;
  margin-left: 40px;
}

footer {
  text-align: center;
  padding: 5px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

#mode-toggler {
  padding: 9px 16px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: #FFFFFF;
  color: #333333;
  border: 2px solid #333333;
  border-radius: 25%;
  cursor: pointer;
}

#mode-toggler:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.dark-mode #mode-toggler {
  background-color: #333333;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.dark-mode #mode-toggler:hover {
  background-color: #FFFFFF;
  color: #333333;
}

.icon-sun {
  display: none;
}

.icon-moon {
  display: inline;
}

.dark-mode .icon-sun {
  display: inline;
}

.dark-mode .icon-moon {
  display: none;
}

iframe {
  width: 600px;
  height: 300px;
  border: 0;
  align-content: center;
}

.portfolio {
  display: flex;
  width: 75%;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.project {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
  border: 2px solid black;
  border-radius: 5%;
  line-height: 50px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.project img {
  max-height: 40%;
  max-width: 100%;
  object-fit: contain;
  border: 2px solid black; /* add border around image */
}

.project video {
  width: 100%;
  max-height: 40%;
}

.project h2 {
  margin: 0px;
}

.project p {
  font-size: 14px;
  margin: 1px;
  line-height: 1.2;
}

.project:hover {
  display: flex;
  align-content: center;
  background-color: #F2F2F2;
  transform: scale(1.1);
  transform-origin: center;
  z-index: 1;
}

.dark-mode .project {
  background-color: #333333;
  color: #F2F2F2;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.language {
  display: flex;
  flex-flow: row;
  padding: 10px 10px;
  width: 50px;
  height: 50px;
  align-items: center;
  font-size: 18px;
  background-color: #FFFFFF;
  color: #333333;
  border: 2px solid #333333;
  border-radius: 25%;
  cursor: pointer;
}

.language:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.dark-mode .language {
  background-color: #333333;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.dark-mode .language:hover {
  background-color: #FFFFFF;
  color: #333333;
}

.sv {
  display: block;
}

.en {
  display: none;
}

.buttons {
  position: absolute;
  right: 0;
  display: flex;
  flex-flow: row;
}

.buttons button {
  margin-left: 10px;
}

@media screen and (max-width: 1180px) {
  body {
    max-width: 1180px;
  }

  header{
    padding-top: 17px;
  }

  .portfolio {
    flex-flow: column wrap;
    width: 90%;
  }

  nav {
    padding: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
  }

  nav a {
    position: relative;
    top: 20px;
  }

  .project {
    width: 90%;
    cursor: pointer;
    height: auto;
    padding-bottom: 15px;
  }
  .project p {
    font-size: 20px;
  }

  .project:hover {
    transform: none;
  }

  iframe {
    max-width: 600px;
    width: 90%;
    height: 300px;
  }

  .pmobil{
    font-size: 16px;
  }

  .buttons {
    position: absolute;
    right: 0;
    top: 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
}